.comments-container {
	width: 100%;
	line-height: 1.2em;
}

.single-comment {
	width: 100%;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	padding: 1em;
	border-radius: 10px;
}

.single-comment:nth-child(odd) {
	background-color: rgb(254, 240, 255);
}

.name {
	font-weight: bold;
	margin-right: 1em;
}

.comment {
	text-align: right;
}
